.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;

  &__header {
    color: white;
  }

  &__logo {
    margin-left: 15px;
    width: 200px;
  }

  &__links {
    color: rgb(85, 30, 25);
    margin-right: 20px;
    background: rgb(197, 110, 51);
    background-color: rgb(197, 110, 51);
    border: 1px solid rgb(197, 110, 51);

    &:hover {
      background-color: rgb(197, 120, 80);
      color: white;
    }
  }
}
