<mat-toolbar class="navbar">
  <img class="navbar__logo" src="./assets/krh-logo.png" />
  <ng-container *ngIf="!isAuthenticated">
    <div class="navbar__items">
      <button
        class="navbar__items__button"
        mat-raised-button
        (click)="openLoginDialog()"
      >
        Log in</button
      ><button
        class="navbar__items__button"
        mat-raised-button
        (click)="openSignupDialog()"
      >
        Sign up
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="isAuthenticated">
    <div class="navbar__items">
      <span class="navbar__items__username"
        >Hi, {{ userName }} !</span
      >
      <button
        class="navbar__items__button"
        mat-raised-button
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </ng-container>
</mat-toolbar>
