.signup-dialog {
  width: 300px;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--heading {
      margin: 20px;
    }
  }

  &__close-icon {
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
  }

  &__fields {
    display: flex;
    width: 260px;
    flex-direction: column;
    margin: 0 auto 10px;

    &--error {
      margin: 5px auto;
      margin-left: -20px;
    }

    &--container {
      display: flex;
      align-items: center;
    }
  }
  &__visibility-icon {
    font-size: 20px;
    cursor: pointer;
  }

  &__submit-button {
    display: flex;
    margin: 20px auto;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(223, 136, 78);
    color: white;
    width: 260px;

    &:hover {
      background-color: rgb(197, 110, 51);
    }
  }
}
