<div class="signup-dialog">
  <div class="signup-dialog__title">
    <h2 class="signup-dialog__title--heading">Sign up</h2>
    <mat-icon class="signup-dialog__close-icon" (click)="close()"
      >close</mat-icon
    >
  </div>
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <mat-form-field class="signup-dialog__fields" appearance="outline">
      <mat-label>First name</mat-label>
      <input
        matInput
        class="signup-dialog__fields--input"
        type="text"
        name="firstName"
        formControlName="firstName"
        required
      />
      <mat-error
        class="signup-dialog__fields--error"
        *ngIf="
          this.signupForm.get('firstName')?.touched &&
          this.signupForm.get('firstName')?.hasError('required')
        "
      >
        First name is required</mat-error
      >
    </mat-form-field>
    <mat-form-field class="signup-dialog__fields" appearance="outline">
      <mat-label>Last name</mat-label>
      <input
        matInput
        class="signup-dialog__fields--input"
        type="text"
        name="lastName"
        formControlName="lastName"
        required
      />
      <mat-error
        class="signup-dialog__fields--error"
        *ngIf="
          this.signupForm.get('lastName')?.touched &&
          this.signupForm.get('lastName')?.hasError('required')
        "
      >
        Last name is required</mat-error
      >
    </mat-form-field>
    <mat-form-field class="signup-dialog__fields" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        class="signup-dialog__fields--input"
        matInput
        name="email"
        formControlName="email"
        autocomplete="off"
        required
      />
      <mat-error
        class="signup-dialog__fields--error"
        *ngIf="
          this.signupForm.get('email')?.touched &&
          this.signupForm.get('email')?.hasError('required')
        "
      >
        Email is required</mat-error
      >
      <mat-error
        class="signup-dialog__fields--error"
        *ngIf="
          this.signupForm.get('email')?.touched &&
          this.signupForm.get('email')?.hasError('pattern')
        "
      >
        Email must be a valid Email</mat-error
      >
    </mat-form-field>
    <mat-form-field class="signup-dialog__fields" appearance="outline">
      <mat-label>Password</mat-label>
      <div class="signup-dialog__fields--container">
        <input
          matInput
          class="signup-dialog__fields--input"
          [type]="hide ? 'password' : 'text'"
          name="password"
          formControlName="password"
          required
        />
        <mat-icon
          class="signup-dialog__visibility-icon"
          (click)="hide = !hide"
          >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
        >
      </div>
      <mat-error
        class="signup-dialog__fields--error"
        *ngIf="
          this.signupForm.get('password')?.touched &&
          this.signupForm.get('password')?.hasError('required')
        "
      >
        Password is required</mat-error
      >
    </mat-form-field>
    <button
      class="signup-dialog__submit-button"
      type="submit"
      [disabled]="!signupForm.valid"
      mat-raised-button
    >
      Sign up
    </button>
  </form>
</div>
