<div class="login-dialog">
  <div mat-dialog-title class="login-dialog__title">
    <h2 class="login-dialog__title--heading">Log in</h2>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field class="login-dialog__fields">
      <mat-label>Email</mat-label>
      <input
        class="login-dialog__fields--input"
        matInput
        name="email"
        formControlName="email"
        autocomplete="off"
        required
      />
      <mat-error
        *ngIf="
          this.loginForm.get('email')?.touched &&
          this.loginForm.get('email')?.hasError('required')
        "
      >
        Email is required</mat-error
      >
      <mat-error
        *ngIf="
          this.loginForm.get('email')?.touched &&
          this.loginForm.get('email')?.hasError('email')
        "
      >
        Email must be a valid Email</mat-error
      >
    </mat-form-field>
    <mat-form-field class="login-dialog__fields">
      <mat-label>Password</mat-label>
      <input
        matInput
        class="signup-dialog__fields--input"
        [type]="hide ? 'password' : 'text'"
        name="password"
        formControlName="password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        type="button"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          this.loginForm.get('password')?.touched &&
          this.loginForm.get('password')?.hasError('required')
        "
      >
        Password is required</mat-error
      >
    </mat-form-field>
    <button
      class="login-dialog__submit-button"
      type="submit"
      mat-raised-button
      [disabled]="!loginForm.valid"
      color="primary"
    >
      Log in
    </button>
  </form>
</div>
